.Messenger {
	height: 100vh;
	width: 100vw;
}

.Messenger-body {
	float: left;
	width: 50%;
	height: 100vh;
}

/* Search Bar */
.Search {
	margin: 10px;
}

.Search input {
	width: 10rem;
	height: 1rem;
	border: none;
	/* border: 1px solid #000; */
	border-radius: 5px;
	padding: 10px;
}
.Search input:focus {
	outline: none;
	border: 2px solid #f95959;
}

.Search ul {
	width: fit-content;
	height: fit-content;
	margin-top: 0;
	border-radius: 5px;
	position: absolute;
	background-color: #fff;
	z-index: 1;
	box-shadow: 2px 7px 16px 3px rgba(0, 0, 0, 0.39);
	-webkit-box-shadow: 2px 7px 16px 3px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 2px 7px 16px 3px rgba(0, 0, 0, 0.39);
}

.Search ul li {
	list-style: none;
	padding: 10px;
	font-family: 'Nunito', sans-serif;
	border-radius: 4px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.Search ul li:hover {
	background-color: #eee;
	border-radius: 5px;
}

.Search ul li p {
	margin-left: 1rem;
}

.Search ul li button {
	margin: 5px;
	margin-left: 1rem;
	background-color: #4849a1;
	border-radius: 50%;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.Search ul li button i {
	color: #fff;
}

.spinner {
	width: 10rem;
	margin: 0 auto;
}
.Search ul li img {
	width: 100%;
	height: 2rem;
	margin: 0 auto;
}

/* Messenger Home */
.MessengerHome {
	height: 85%;
}
.MessengerHome ul {
	width: 95%;
	height: 100%;
	margin: 0 auto;
	padding-top: 1rem;
	overflow-y: auto;
	overflow-x: hidden;
}
.MessengerHome ul li {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}

.MessengerHome ul::-webkit-scrollbar {
	width: 6px;
}
.MessengerHome ul::-webkit-scrollbar-track {
	border-radius: 10px;
}
.MessengerHome ul::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.MessengerHome ul::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.MessengerHome-nav {
	width: 100%;
	padding: 1rem 0;
}

.MessengerHome-nav button {
	position: relative;
	background: none;
	border: none;
	margin: 0 2rem;
	margin-right: 1.5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 15px;
	cursor: pointer;
}

.MessengerHome-nav button:after {
	position: absolute;
	bottom: -2px;
	left: 0;
	right: 0;
	content: '';
}
.MessengerHome-nav button:hover:after {
	animation: border-grow 1s forwards;
	-webkit-animation: border-grow 1s forwards;
	-moz-animation: border-grow 1s forwards;
}

.MessengerHome-nav button.tab-selected {
	border-bottom: 2px solid #4849a1;
}
.MessengerHome-nav button.tab-selected:hover:after {
	animation: none;
}

.no-online-users {
	height: 90%;
	width: 100%;
	padding-top: 6rem;
	text-align: center;
}

.no-online-users img {
	height: 50%;
	width: 40%;
	margin: 0 auto;
}

.no-online-users p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 1px;
}

#sent-requests-list {
	width: 85%;
}

.sent-requests {
	display: flex;
	font-weight: 500;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 500ms ease;
	letter-spacing: 0;
	border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}
.sent-requests img {
	padding-right: 0.8rem;
}
.sent-requests p:last-child {
	align-self: center;
	padding-left: 3rem;
	font-family: 'Montserrat', sans-serif;
	font-family: 600;
	font-size: 11px;
	letter-spacing: 1px;
	color: #b3b9cb;
}

@keyframes border-grow {
	0% {
		width: 0%;
		height: 1px;
	}
	50% {
		width: 100%;
		height: 2px;
	}
	100% {
		width: 100%;
		height: 2px;
		background: #4849a1;
	}
}
