/* Sidebar */
.Sidebar {
	float: left;
	height: 100vh;
	width: 25%;
	background-color: #f9f9fc;
	display: flex;
	align-items: center;
}
.Sidebar-friends {
	font-family: 'Rubik', sans-serif;
	height: 94%;
	margin-right: 1.5rem;
	margin-left: 1.5rem;
	letter-spacing: 1px;
}

.SidebarPanel {
	height: 94%;
	width: 15%;
	margin: auto;
	margin-left: 15px;
	margin-right: 0;
	background-color: #4849a1;
	border-radius: 12px;
	padding: 10px;
}

.friends-list {
	width: 100%;
}

.friends-list ul li {
	text-decoration: none;
	list-style: none;
	width: 100%;
}

.find-friends {
	margin-top: 7rem;
	text-align: center;
}

.find-friends p {
	letter-spacing: 0;
	font-weight: 500;
}

.FriendsListItem {
	display: flex;
	align-items: center;
	font-weight: 500;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 500ms ease;
	cursor: pointer;
	letter-spacing: 0;
	border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}
.FriendsListItem img {
	padding-right: 0.8rem;
}
.FriendsListItem:hover {
	background-color: #eee;
}
/* Utility classes */
.sidebar-icon-1 {
	background: #efeff5;
	color: #9e9ead;
	border-radius: 50%;
	padding: 7px;
	display: inline-block;
	cursor: pointer;
}

.Sidebar-illustration {
	height: 13rem;
	width: 13rem;
}

.img-container {
	height: 2.5rem;
	width: 2.5rem;
	position: relative;
	margin-right: 1rem;
}

.user-avatar {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.online {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: green;
	margin-left: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	border: 2px solid #f9f9fc;
}
.offline {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: red;
	margin-left: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	border: 2px solid #f9f9fc;
}

/* Sidebar Panel */
.SidebarPanel {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.3fr 0.6fr 1.6fr 0.9fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	color: #ccc;
	font-size: 1.3rem;
}

.Sociedon-Logo {
	grid-area: 1 / 1 / 4 / 2;
}

.filler {
	grid-area: 2 / 1 / 3 / 2;
}

.arena-icons {
	grid-area: 3 / 1 / 4 / 2;
}

.Utility-icons {
	grid-area: 4 / 1 / 5 / 2;
	margin-bottom: 1rem;
	align-self: flex-end;
}
.Utility-icons button {
	cursor: pointer;
	padding: 10px;
	background-color: transparent;
	color: #ccc;
	transition: color 400ms ease-out;
	border: none;
	font-size: 1.3rem;
}
.Utility-icons button:hover {
	color: #fff;
	background-color: rgba(238, 238, 238, 0.1);
	transition: background-color 500ms ease-in-out;
	border-radius: 5px;
}
.settings-icon i {
	animation: out 1s;
}
.settings-icon:hover i {
	animation: in 1s;
}

.selected {
	background-color: #eee;
}

@keyframes in {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}

@keyframes out {
	from {
		transform: rotate(180deg);
	}
	to {
		transform: rotate(0deg);
	}
}
